@*Để Razor page đọc được cần có @page*@
@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>This is Index Page</h1>
<a asp-page="about">about</a>
<a asp-page="home-page/0/2">home</a>
@{
    <h2>Wellcom @this.Welcome("Minh")</h2>
}
<ul style="list-style: none">
    <li><a asp-page="/index" asp-area="Products">Products Page</a></li>
    @*Nếu không có asp-page mà chỉ có asp-area thì nó sẽ tự vào index*@
    <li><a asp-area="Categorys">Categorys Page</a></li>
</ul>

@functions{
    string Welcome(string name)
    {
        return $"Say hello {name}";
    }
}

<div style="display: none">
    <br>
    <h2>@System.DateTime.Now.ToString("dddd, dd MMMM yyyy HH:mm:ss")</h2>
    @{
        int x = 12;
        int y = 11;

        int multiplication = 12 * 11;

        //nó sẽ tự động xuất ra đoạn chỗi này
        <p>X + Y = @(x + y)</p>
        <p>X * Y = @multiplication</p>
        ;
    }
    <ul>
        @for (int i = 0; i < x; i++)
        {

            <li>Idx: @i</li>
        }
    </ul>
</div>